*{
    margin: 0px;
    padding: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.navbar{
    background-color: black;
}
.nav-link{
    color: white;
    font-size: 15px;
    font-weight: 500;
    margin-right: 20px;
}
.nav-link:active,
.nav-link:focus,
.nav-link:hover{
    color: lightgray;
      }
.hero1 {
    height: 960px;
    background:linear-gradient(rgba(14,15,21,0.55), rgba(14,15,21,0.55)), url('images/hero-bg40.jpg');
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero2{
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero2-text{
 width: 800px;
}