*{
    margin: 0px;
    padding: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.navbar{
    background-color: black;
    position: sticky;
    top: 0;
    z-index: 10;
}
.nav-link{
    color: white;
    font-size: 15px;
    font-weight: 500;
    margin-right: 20px;
}
.nav-link:active,
.nav-link:focus,
.nav-link:hover{
    color: lightgray;
      }

